
.testimonial{
    width: 1000px;
    // height: 100vh;
    // display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d5a80;
    color: #3d5a80;

    &-slide{
        padding:40px 20px;
    }
    &_box{   

        &-top{
            background-color: #e0fbfc;
            padding: 30px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            box-shadow: 5px 5px 20px rgba(152, 193, 217, 0.493);
        }
        &-icon{
            padding: 10px 0;
            i{
                font-size: 25px;
                color: #14213d;
            }
        }
        &-text{
            padding: 10px 0;
            p{
                color: #293241;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 0;
            }
        }
        &-img{
            padding: 20px 0 10px;
            display: flex;
            justify-content: center;
            img{
                width: 70px;
                height: 70px;
                border-radius: 50px;
                border: 2px solid #e5e5e5;
            }
        }
        &-name{
            padding-top: 10px;
            h4{
                font-size: 20px;
                line-height: 25px;
                color: #293241;
                margin-bottom: 0;
            }
        }
        &-job{
            p{
                color: #293241;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 3px;
                line-height: 20px;
                font-weight: 300;
                margin-bottom: 0;
            }
        }
    }
}